.body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.address-form {
    position: relative;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
}

.address-form_heading {
    font-size: 24px;
    margin-left: 220px;
    font-weight: bold;
    margin-bottom: 30px;
}

.address-form__group {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.address-form__label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-left: -110px;
}

.address-form__input {
    position: relative;
    margin-bottom: 5px;
    width: 150%;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    box-sizing: border-box;
    box-sizing: border-box;
}

.address-form__btn {
    width: 135%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    left: 250px;
    top: 20px;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.error-message {
    color: red;
}




