.item-detail__container {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
}

.item-detail__inner {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.item-detail__image-area {
    flex: 0 0 360px;
}

.item-detail__image-area {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 50px;
}

.item-detail__image-area img {
    width: 100%;
}

.sell__name {
    font-size: 50px;
    margin-top: 60px;
}

.sell__brand {
    font-size: 15px;
    color: #777;
    margin-bottom: 20px;
}

.sell__price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.sell__price-tax {
    font-size: 12px;
    margin-left: 4px;
}

.item-detail__icon {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.sell__like {
    margin: 0;
}

.sell__like-button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.sell__like-icon {
    font-size: 20px;
    line-height: 1;
    color: red;
}

.sell__like-count {
    font-size: 20px
}

.sell__comment-count {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}

.purchase-button {
    margin-left: auto;
    display: inline-block;
    padding: 10px 60px;
    background-color: #f1635a;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

.item__section {
    font-size: 20px;
    font-weight: 700;
    margin: 24px 0 12px;
}

.item__description {
    font-size: 15px;
    line-height: 1.7;
    margin-bottom: 16px;
}

.item__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    margin-bottom: 24px;
}

.item__table th {
    width: 100px;
    text-align: left;
    padding: 6px 0;
    color: #555;
}

.item__table td {
    padding: 6px 0;
}

.item__table-category {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
}

.category__btn {
    display: inline-block;
    padding: 2px 10px;
    font-size: 11px;
    border-radius: 999px;
    background: #eee
}

.item__table-condition {
    font-size: 11px;
}



#count__title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 12px;
}

.comment {
    padding: 8px 0;
    border-bottom: 2px solid #eee;
}

.comment__user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.user__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
}

.user__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment__content {
    font-size: 13px;
    line-height: 1.6;
}

.sell__comment textarea {
    width: 100%;
    border: 1px solid black;
    padding: 8px;
    font-size: 13px;
    resize: vertical;
    margin-top: 12px;
    resize: none
}

.form__error {
    color: #e05555;
    font-size: 12px;
    margin-top: 4px;
}

.sell__comment button {
    display: block;
    width: 100%;
    margin-top: 12px;
    padding: 10px 0;
    background-color: #F1635a;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;

}



