.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.silver-line {
    position: absolute;
    background-color: silver;
    top: 40%;
    left: 0;
    width: 100%;
    height: 2px;
}

.profile-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
    margin-top: 100px;
}

.profile-name {
    font-size: 20px;
    color: #333;
}

.btn {
    position: absolute;
    top: 200px;
    right: 400px;
    padding: 10px 20px;
    background-color: white;
    text-align: center;
    border-radius: 50px;
    border: 2px solid red;
    font-size: 20px;
    text-decoration: none;
}

.btn a{
    color: red;
    text-decoration: none;
}

.tab__list {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-bottom: 8px;
    margin-bottom: 24px;
}

.tab__list li {
    list-style: none;
    font-size: 26px;
}

.tab__list a {
    text-decoration: none;
    color: black;

}

.item {
    width: 180px;
    text-align: left;
    margin-top: 30px;
}

.item a {
    text-decoration: none;
    color: inherit;
}

.item__img--container {
    width: 160px;
    height: 180px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 10px;
    position: relative;
}

.item__img {
    max-width: 100%;
    max-height: 120px;
    display: block;
}

.item__name {
    font-size: 20px;
    margin-left: 10px;
}

.profile-rating {
    display: flex;
    gap: 8px;
    align-items: center;
}

.profile-rating__stars span {
    opacity: .25;
}

.profile-rating__stars span.is-on {
    opacity: 1;
}


.item__badge {
    position: absolute;
    top: 6px;
    left: 6px;
    min-width: 22px;
    height: 22px;
    padding: 0 6px;
    border-radius: 999px;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    background: #e53935;
    color: #fff;
    font-weight: 700;
}

