body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.register-form {
    position: relative;
    top: 15%;
    left: 75%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
}


.register-form__heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.register-form__group {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.register-form__label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    margin-left: -215px;
}
.register-form__input {
    position: relative;
    margin-bottom: 5px;
    width: 340%;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    box-sizing: block;
    box-sizing: border-box;
}


.error-message {
    color: red;
    font-size: 14px;
}

.register-form__btn {
    width: 280%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

a {
    position: relative;
    left: 50px;
    top: 40px;
    text-decoration: none;
    color: #007bff;
}

@media (max-width: 768px) {
    .register-form {
        width: 100%;
        top: 20%;
    }

    .register-form__input, .register-form__btn  {
        font-size: 16px;
        width: 100%;
    }
}