.sell-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.sell-form__heading {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sell-detail__form {
    margin-top: 60px;
}

.sell-detail__heading {
    color: rgba(10, 10, 10, 0.592);
    border-bottom: 1px solid black;
}

.sell-form__inner {
    padding: 20px;
}



.sell-form__form {
    display: flex;
    flex-direction: column;
}

.sell-form__button {
    width: 160px;
    height: 50px;
    background: white;
    border-radius: 20px;
    border:2px solid red;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 190px;
}

#preview {
        margin-left: 35%;
        transform: scale(2.5);
        width:400px;
        height:80px;
        object-fit: contain;

}

.sell-form__input {
    display: none;
}

.sell-detail__input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.category-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-item {
    padding: 10px 20px;
    border: 10px;
    border: 2px solid red;
    border-radius: 30px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    color: red;
    text-align: center;
    transition: background 0.3s, border-color 0.3s, color 0.3s;
}

.category-item input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.category-item:hover label {
    cursor: pointer;
    color:red;
}

.category-item input[type="checkbox"]:checked + label {
    background: red;
    color:white;
    border: 15px solid #ff0000;
    border-radius: 30px;
    width: 150px;
}


.sell-form__label,
.sell-detail__label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.sell-date__input {
    position: relative;
        margin-bottom: 5px;
        width: 100%;
        height: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        box-sizing: block;
        box-sizing: border-box;
}

#description {
    width: 100%;
    height: 150px;
    padding: 10px;
    resize: vertical;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.alert-danger {
    color: red;
}



